<h1><%= @task.title %></h1>
<p><%= @task.details %></p>

<% if @task.completed %>
  <%= " ✅ This task is completed" %>
<% else %>
  <%= " ❌ This task is not completeed" %>
<% end %>
<br>

<%= link_to "Edit this task", edit_path %>
<%= link_to "Back to all tasks", tasks_path %>

<br>
<%= link_to "Destroy #{@task.title}", destroy_path(@task), method: :delete, data: { confirm: "Are you sure?"} %>

